[submodule "bluerov_drivers"]
	path = bluerov_drivers
	url = git@github.com:dsor-isr/bluerov_drivers.git
[submodule "farol"]
	path = farol
	url = git@github.com:dsor-isr/farol.git
[submodule "medusa_addons"]
	path = medusa_addons
	url = git@github.com:dsor-isr/medusa_addons.git
