<?xml version="1.0"?>
<launch>

  <group ns="bottom_following">

    <rosparam command="load" file="$(find bottom_following)/config/bottom_following.yaml"/>

    <node pkg="bottom_following" type="bottom_following_node" name="bottom_following" respawn="false" output="screen">
    </node>

  </group>

</launch>