<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Center of buoyancy -->
    <xacro:property name="bluerov_cob" value="0 0 0.0420"/>
    <!--xacro:property name="bluerov_cob" value="0 0 0.3872"/-->

    <!-- Vehicle's actual volume (Gazebo cannot compute the volume out of the mesh) -->
    <xacro:property name="bluerov_volume" value="${volume}"/>

    <xacro:macro name="bluerov_hydro_model" params="namespace">
      <!-- List of hydrodynamic models this robot's links -->
      <link name="${namespace}/base_link">
        <!-- This flag will make the link neutrally buoyant -->
        <neutrally_buoyant>0</neutrally_buoyant>

        <!-- Link's volume -->
        <volume>${bluerov_volume}</volume>

        <box>
            <width>${x_size}</width>
            <length>${y_size}</length>
            <height>${z_size}</height>
        </box>
        <center_of_buoyancy>${bluerov_cob}</center_of_buoyancy>
        <hydrodynamic_model>
          <type>fossen</type>
          <!-- Added mass: see p.28 in Berg2012 -->
          <!-- Parameters in Sandøy, S. S. (2016). -->
          <added_mass>
            5.5     0      0        0    0     0
            0       12.70  0        0    0     0
            0       0      14.57    0    0     0
            0       0      0        0.12 0     0
            0       0      0        0    0.12  0
            0       0      0        0    0     0.12
          </added_mass>
          <!-- Parameters in Sandøy, S. S. (2016). -->
          <linear_damping>-4.03  -6.22 -5.18 -0.07 -0.07 -0.07</linear_damping>
          <quadratic_damping>-18.18 -21.66 -36.99 -1.55 -1.55 -1.55</quadratic_damping>

        </hydrodynamic_model>
      </link>
    </xacro:macro>
</robot>